.bulk-upload-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url("../images/Icon-Bulk-Upload.svg")  no-repeat center/cover;
}

.active {
    .bulk-upload-icon, &.bulk-upload-icon {
        background-image: url("../images/Icon-Bulk-Upload-Active.svg");
    }
}

progress {
    margin: 15px 0px 15px 34px;
    width: 70%;
    height: 15px;
}

.icon {
    background-size: cover;
    display: inline-block;

    &.check-accent {
        background-image: url("../images/check-accent.svg") no-repeat center/cover;
        width: 22px;
        height: 18px;
    }

    &.icon-crossed, &.cross-accent, &.finish-icon {
        width: 18px;
        height: 15px;
    }

    &.icon-crossed {
        background: url("../images/Icon-Crossed.svg") no-repeat center/cover;
    }

    &.cross-accent {
        background: url("../images/cross-accent.svg") no-repeat center/cover;
    }

    &.finish-icon {
        background: url("../images/finish.svg") no-repeat center/cover;
    }
}

.ms-15 {
    margin-left: 15px;
}
