.bulk-upload-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Bulk-Upload.svg");
}

.active {
    .bulk-upload-icon {
        background-image: url("../images/Icon-Bulk-Upload-Active.svg");
    }

    &.bulk-upload-icon {
        background-image: url("../images/Icon-Bulk-Upload-Active.svg");
    }
}